.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
/_site/
/_book/

*.aux
*.log
*.pdf
*.tex
*.toc

# Ignore all Quarto execution cache folders
**/*_cache/

# Ignore all Quarto execution files
**/*_files/
**/output/
